.main_carousel_div{
    margin-top: 10vh;
    /* z-index: -999; */
    
}

.item{
    display: flex;
    margin-top: 50px;
    height: 150px;
    margin-left: 150px;
    
    
}

.item h1{ 
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 60px;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    
    
}
.item p{
    margin-left: 60px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.btn{
    margin-left: 60px;
    background-color: rgb(48, 46, 46);
    color: white;
    cursor: pointer;

  
    
}


/* .item img{
    
    width: 70vw;
} */
.carou_img{
    width: 200px;
    margin-left: 300px;
    margin-top: -20px;
}